.CallToAction {
  display: grid;
  place-content: center;
  min-inline-size: 9rem;
  padding-block: 1em;
  padding-inline: 1.5em;
  color: var(--color, var(--black));
  font: var(--fweight-medium) 1em/1.1 var(--main-font);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--background, var(--white));
  border: none;
  border-radius: .5em;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  transition: all .3s ease; }
  .CallToAction:hover, .CallToAction:focus {
    color: var(--white);
    background: var(--peach-light); }
  .CallToAction:disabled {
    cursor: unset;
    opacity: .5; }
  .CallToAction--onLight {
    --color: var(--white);
    --background: var(--peach); }

.NoBulletList {
  list-style-type: none; }
  .NoBulletList > li::before {
    position: absolute;
    display: block;
    height: 0;
    content: '\200B'; }

.ReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 0, 0 0); }

.Header {
  padding-inline: 2rem; }
  .Header .Nav {
    block-size: 9.75rem; }
    .Header .Nav ul {
      display: none; }
      @media screen and (min-width: 89.9em) {
        .Header .Nav ul {
          display: grid; } }

.Footer .Nav ul {
  grid-auto-flow: row;
  grid-template-columns: auto;
  place-items: center; }
  @media screen and (min-width: 89.9em) {
    .Footer .Nav ul {
      grid-auto-flow: column;
      grid-template-columns: 1fr auto auto auto;
      place-items: unset; } }

.Nav {
  display: grid;
  align-content: center;
  max-inline-size: var(--colWidth);
  margin-inline: auto;
  text-transform: uppercase; }
  .Nav .Logo {
    display: block;
    inline-size: 12.25rem;
    block-size: 1.5rem;
    background: url("shared/desktop/logo-dark.png") no-repeat center/contain; }
  .Nav ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto auto auto;
    gap: .5rem;
    margin: 0;
    padding: 0; }
  .Nav a {
    display: block;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    font-size: .875rem;
    font-weight: var(--fweight-regular); }

.Footer {
  display: grid;
  grid-template-columns: min(100%, var(--colWidth));
  justify-content: center;
  margin-block: -4.5rem 0;
  padding-block: 9rem 4.5rem;
  padding-inline: 2rem;
  color: white;
  background: var(--black); }
  .Footer .Nav {
    padding-block: 0 2.25rem;
    margin-block: 0 2.25rem;
    border-block-end: 1px solid rgba(255, 255, 255, 0.1); }
  .Footer .Logo {
    background-image: url("shared/desktop/logo-light.png"); }
  .Footer address {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    gap: 1.5rem;
    font-style: normal;
    opacity: .5;
    font-weight: var(--fweight-bold);
    text-align: center; }
    @media screen and (min-width: 89.9em) {
      .Footer address {
        grid-template-columns: repeat(auto-fit, 22rem);
        max-inline-size: 50rem;
        text-align: unset; } }
    .Footer address span:first-of-type {
      font-weight: var(--fweight-regular); }
      .Footer address span:first-of-type:first-line {
        font-weight: var(--fweight-bold); }

:root {
  --peach: hsl(11, 73%, 66%);
  --black: hsl(270, 3%, 11%);
  --white: hsl(0, 0%, 100%);
  --peach-light: hsl(11, 100%, 80%);
  --dark-grey: hsl(264, 5%, 20%);
  --light-grey: hsl(210, 17%, 95%);
  --fweight-thin: 100;
  --fweight-extra-light: 200;
  --fweight-light: 300;
  --fweight-regular: 400;
  --fweight-medium: 500;
  --fweight-semi-bold: 600;
  --fweight-bold: 700;
  --fweight-extra-bold: 800;
  --fweight-black: 900;
  --main-font: 'Jost', sans-serif;
  color: var(--black);
  font-family: var(--main-font);
  font: var(--fweight-medium) 1rem/1.625 var(--main-font);
  --title-1: var(--fweight-medium) 2rem/1 var(--main-font);
  --title-2: var(--fweight-medium) 1.75rem/1.2 var(--main-font);
  --title-3: var(--fweight-medium) 1rem/1.3 var(--main-font);
  --colWidth: 69.5rem;
  scroll-behavior: smooth; }
  @media screen and (min-width: 89.9em) {
    :root {
      --title-1: var(--fweight-medium) 3rem/1 var(--main-font);
      --title-2: var(--fweight-medium) 2.5rem/1.2 var(--main-font);
      --title-3: var(--fweight-medium) 1.25rem/1.3 var(--main-font); } }

body {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh; }

main {
  flex-grow: 1; }

.title-1 {
  font: var(--title-1); }

.title-2 {
  font: var(--title-2);
  letter-spacing: .05em; }

.title-3 {
  font: var(--title-3); }

svg,
img,
picture {
  display: block;
  max-inline-size: 100%; }

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0s !important;
    animation: none !important; } }
.Error {
  margin-block: .5em;
  padding: .5em;
  color: var(--error);
  font-size: .875rem;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: .25rem; }

/*# sourceMappingURL=app.css.map */
