@import "mixin/mediaqueries";

.ContactBlock {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template: 'title' auto 'text' auto 'link' auto / 100%;
  place-items: center;
  gap: 1.5rem;
  margin-block: 10rem 0;
  margin-inline: 1.5rem;
  padding-block: 4rem;
  padding-inline: 1.5rem;
  color: var(--white);
  background: var(--peach) url('shared/desktop/bg-pattern-call-to-action.svg') no-repeat right center/auto 150%;
  border-radius: 1rem;

  @include mediaPhone {
    margin-inline: 0;
    padding-inline: 2.5rem;
  }

  @include mediaTablet {
    grid-template: 'title link' auto 'text link' auto / 1fr auto;
    padding-block: 4.5rem;
    padding-inline: 6rem;
  }

  &__title {
    grid-area: title;
    max-inline-size: 20rem;
    margin: 0;
    text-align: center;

    @include mediaTablet {
      text-align: unset;
    }
  }

  &__text {
    grid-area: text;
    max-inline-size: 28.75rem;
    margin: 0;
    text-align: center;

    @include mediaTablet {
      text-align: unset;
    }
  }

  &__link {
    grid-area: link;
    place-self: center;
    padding-inline: 1em;
  }
}
